body {
    padding: 0;
    margin: 0;   
    background-image: url('background.jpg');
    text-align: center;
}
p{
    color: white;
    background-color: red;
    border-color: #000000;
    border-radius: 50px;
    border-collapse: 100px;
    font-size: 30px;
    text-align: center;
    
}
#yt{
    background-color: red;
    color: black;
    border-color: black;
    border-radius: 20px;
    border-collapse: 20px;
    font-size: 30px;
    text-align: center;
    }
#tg{
    background-color: #40cbff;
    color: black;
    border-color: black;
    border-radius: 20px;
    border-collapse: 20px;
    font-size: 30px;
    text-align: center;
}
#dw{
    background-color: red;
    border-color: black;
    border-radius: 50px;
    font-size: 30px;
    text-align: center;
}
#tool{
    background-color: #ffc700;
    border-color: black;
    color: red;
    border-radius: 50px;
    font-size: 30px;
    text-align: center;
}
#uz{
    background-color: blue;
    border-color: black;
    color: #11ff00;
    border-radius: 50px;
    font-size: 30px;
    text-align: center;
}
#back{
    background-color: black;
    border-color: white;
    color: white;
    border-radius: 50px;
    font-size: 30px;
}
#media{
    background-color: #00d5ff;
    border-color: greenyellow;
    border-radius: 50px;
    font-size: 30px;
    text-align: center;
}
#br{
    font-size: 250px;
}
#tt{
    background-color: black;
    border-color: white;
    border-radius: 50px;
    font-size: 30px;
    text-align: center;
    color: white;
}
#in{
   background-color: white;
    border-color: red;
    border-radius: 50px;
    font-size: 30px;
    text-align: center;
    color: red; 
}
#oa{
    background-color: #ff5e00;
    border-color: white;
    border-radius: 50px;
    font-size: 30px;
    text-align: center;
    color: white;
}
