body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-image: url("background.jpg");
    background-repeat: repeat;
    background-size: 500px;
}
p{
    font-size: 20px;
    color: white;
    background-color: red;
    border-color: #000000;
    border-radius: 50px;
    border-collapse: 100px;
    
}
#yt{
    background-color: red;
    color: black;
    border-color: black;
    border-radius: 20px;
    border-collapse: 20px;
    }
#tg{
    background-color: #40cbff;
    color: black;
    border-color: black;
    border-radius: 20px;
    border-collapse: 20px;
}
#dw{
    background-color: red;
    border-color: black;
    border-radius: 50px;
}
#tool{
    background-color: #ffc700;
    border-color: black;
    color: red;
    border-radius: 50px;
}
#uz{
    background-color: blue;
    border-color: black;
    color: #11ff00;
    border-radius: 50px;
}
